[Unit]
Description=consul
Wants=basic.target
After=basic.target network.target
ConditionFileNotEmpty=/etc/consul/config.json

[Service]
User=consul
Group=consul
ExecStart=/usr/local/bin/consul agent -config-dir=/etc/consul -data-dir=/var/lib/consul
ExecReload=/bin/kill --signal HUP $MAINPID
CapabilityBoundingSet=CAP_SYSLOG CAP_IPC_LOCK
Capabilities=CAP_IPC_LOCK+ep
SecureBits=keep-caps
NoNewPrivileges=yes
KillSignal=SIGINT
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target
